---
import BlogLayout from "../../layouts/BlogLayout.astro";
import getApiUrl from "../../utils/getApiUrl";
import SingleBlogItem from "../../components/SingleBlogItem";

// export async function getStaticPaths() {
//   // --`${getApiUrl()}/api/posts?populate=*`
//   const posts = await fetch(`${getApiUrl()}/api/posts`).then((res) =>
//     res.json()
//   );
//   return posts.map((post: any) => ({ params: { slug: post.slug } }));
// }

const { slug } = Astro.params;

const url = `${getApiUrl()}/api/posts?filters[slug][$eq]=${slug}&populate=*`;

const { data: postItem } = await fetch(url).then((res) => res.json());
---

<BlogLayout title={slug || "Blog"}>
  <div>slug = {slug}</div>

  <SingleBlogItem post={postItem[0]} />
</BlogLayout>
